{% extends 'main.html' %}

{% block content %}
  {% include 'menu.html' %}

  <div class="container">
    <h1>Cadastrar Pets</h1>
    <form name="form" id="form" action="{% if db%}/updatePets/{{db.id}}/{%else%}/createPets/{% endif %}" method="post">
      {% csrf_token %}
      
      <div class="form-group mt-4">Nome: {{ form.nome }}</div>
      <div class="form-group mt-4">Raça: {{ form.raca }}</div>
      <div class="form-group mt-4">Idade: {{ form.idade }}</div>
      <div class="form-group mt-4">Tamanho: {{ form.tamanho }}</div>
      <div class="form-group mt-4">Contribuinte: {{ form.contribuinte }}</div>
      <div class="form-group mt-4">Numero identificação: {{ form.numero_identificacao }}</div>

      
      <a href="/pets/" class="btn btn-secondary mt-4" type="back">Voltar</a>
      <div class="col-8 m-auto pt-4 pb-2 text-center">
        <div id="result"></div>
        <input class="btn btn-success mt-4 float-end" type="submit" value="Cadastrar" />
      </div>
    </form>
  </div>

{% endblock %}

