{% extends 'main.html' %}

{% block content %}
  {% include 'menu.html' %}

  <div class="container">
    <h1>Cadastrar contribuinte</h1>
    <form name="form" id="form" action="{% if db%}/updateContribuinte/{{db.id}}/{%else%}/createContribuinte/{% endif %}" method="post">
      {% csrf_token %}
      
      <div class="form-group mt-4">Nome completo: {{ form.nome_completo }}</div>
      <div class="form-group mt-4">CPF: {{ form.cpf }}</div>
      <div class="form-group mt-4">E-mail: {{ form.email }}</div>
      <div class="form-group mt-4">Telefone: {{ form.telefone}}</div>
      <div class="form-group mt-4">Endereço: {{ form.endereco }}</div>
      <div class="form-group mt-4">Numero: {{ form.numero }}</div>
      <div class="form-group mt-4">Complemento: {{ form.complemento}}</div>
      <div class="form-group mt-4">Bairro: {{ form.bairro }}</div>
      <div class="form-group mt-4">Cidade: {{ form.cidade }}</div>
      <div class="form-group mt-4">Estado: {{ form.estado}}</div>
      <div class="form-group mt-4">Inscrição municipal: {{ form.inscricao_municipal }}</div>
      <div class="form-group mt-4">Indicação fiscal: {{ form.indicacao_fiscal }}</div>

      
      <a href="/contribuintes/" class="btn btn-secondary mt-4" type="back">Voltar</a>
      <div class="col-8 m-auto pt-4 pb-2 text-center">
        <div id="result"></div>
        <input class="btn btn-success mt-4 float-end" type="submit" value="Cadastrar" />
      </div>
    </form>
  </div>

  {% load static %}
  <script src="{% static 'javascript.js' %}"></script>
{% endblock %}
