{% extends 'main.html' %}

{% block content %}
  {% include 'menu.html' %}

  <div class="col-8 m-auto pt-2 pb-2 text-center">
    <h1>Cadastro</h1>
  </div>

  <div class="col-8 m-auto pt-3 pb-2 text-center">
    <a href="/listarCarros/" class="btn btn-info">Voltar</a>
  </div>

  <div class="col-8 m-auto pt-4 pb-2 text-center">
    <div id="result"></div>

    <form name="form"
      id="form"
      action="{% if db%}/updateCarros/{{db.id}}/{%else%}/createCarros/{% endif %}"  method="post">
      {% csrf_token %}
      
      <div class="form-group mt-4">Modelo: {{ form.modelo }}</div>
      <div class="form-group mt-4">Marca: {{ form.marca }}</div>
      <div class="form-group mt-4">Ano: {{ form.ano }}</div>
      <input type="submit" class="btn btn-success" value="Salvar" />
    </form>
  </div>

  {% load static %}
  <script src="{% static 'javascript.js' %}"></script>
{% endblock %}
