{% extends 'main.html' %}
{% load crispy_forms_tags %}


{% block content %}
  {% include 'menu.html' %}
  <br>
  <div id="result"></div>
  <div class="container" style="max-width: 1080px; min-width: 960px;">
    <div class="card">
      <h2 class="card-header text-center">Cadastro de contribuintes:</h2>
      <div class="card-body">
        <form name="form" id="form" action="{% if db%}/updateContribuinte/{{db.id}}/{%else%}/createContribuinte/{% endif %}" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6">
        {{form.nome_completo|as_crispy_field}}
        </div>
        <div class="col-md-6">
        {{form.cpf|as_crispy_field}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
        {{form.email|as_crispy_field}}
        </div>
        <div class="col-md-3">
        {{form.telefone|as_crispy_field}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
        {{form.endereco|as_crispy_field}}
        </div>
        <div class="col-md-2">
        {{form.numero|as_crispy_field}}
        </div>
        <div class="col-md-2">
          {{form.complemento|as_crispy_field}}
          </div>
      </div>
      <div class="row">
        <div class="col-md-4">
        {{form.bairro|as_crispy_field}}
        </div>
        <div class="col-md-4">
        {{form.cidade|as_crispy_field}}
        </div>
        <div class="col-md-4">
          {{form.estado|as_crispy_field}}
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
        {{form.inscricao_municipal|as_crispy_field}}
        </div>
        <div class="col-md-6">
        {{form.indicacao_fiscal|as_crispy_field}}
        </div>
      </div>

      
      <div class="col-12 m-auto pt-4 pb-2 d-flex justify-content-center">        
        <a href="/contribuintes/" class="btn btn-secondary mt-4 me-2 tamanho-95" type="back">Voltar</a>
        <input class="btn btn-success mt-4 float-end ms-2 tamanho-95" type="submit" value="Cadastrar" />
      </div>
    </form>
  </div>

{% endblock %}
