<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/dashboard/">IPTU -Pet Friendly</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/contribuintes/">Cadastro contribuinte</a>
        <a class="nav-link active" aria-current="page" href="/listarCarros/">Cadastro carros</a>
        <a class="nav-link active" href="/relatorio/">Relatório</a>
        <a class="nav-link active" href="/painel/" tabindex="-1" aria-disabled="true">Sair</a>
      </div>
    </div>
  </div>
</nav>
