{% extends 'main.html' %}

{% block content %}
  <div class="login-page bg-light img-fundo">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <h3 class="mb-3">Entre</h3>
          <div class="bg-white shadow rounded">
            <div class="row">
              <div class="col-md-7 pe-0">
                <div class="form-left h-100 py-5 px-5">
                  <form name="formPainel" id="formPainel" method="post" action="/dologin/" class="row g-4">
                    <div class="col-12">
                      {% if msg %}
                        <div class="alert {{ class }}">{{ msg }}</div>
                      {% endif %}

                      {% csrf_token %}
                      <label>Usuário<span class="text-danger">*</span></label>
                      <div class="input-group">
                        <div class="input-group-text">
                          <i class="bi bi-person-bounding-box"></i>
                        </div>
                        <input type="text" class="form-control" name="user" id="name" placeholder="Nome de usuário" />
                      </div>
                    </div>

                    <div class="col-12">
                      <label>Senha<span class="text-danger">*</span></label>
                      <div class="input-group">
                        <div class="input-group-text">
                          <i class="bi bi-lock-fill"></i>
                        </div>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Senha" />
                      </div>
                    </div>
                    <div class="col-sm-6 mt-2">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="inlineFormCheck" />
                        <label class="form-check-label" for="inlineFormCheck">Remember me</label>
                      </div>
                    </div>

                    <div class="d-inline-flex gap-1 d-flex justify-content-center">
                      <button type="submit" class="btn btn-success px-4 float-center mt-4 tamanho-100">Entrar</button>
                    </div>
                    <p class="text-end text-gray-700 text-center mt-4">
                      Não tem uma conta? <a href="/create/" class="text-blue-500">Cadastre-se</a>
                    </p>
                  </form>
                </div>
              </div>
              <div class="col-md-5 ps-0 align-img-center">
                <img class="img-dog mt-3" src="https://a.imagem.app/oXIyZ8.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-10 offset-lg-1 d-flex justify-content-end">
          <p class="text-secondary mt-3">Projeto DB1 START - Sheila Inácio</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
