{% extends 'main.html' %}

{% block content %}
  {% include 'menu.html' %}

  <div class="col-8 m-auto pt-2 pb-2 fw-bolder text-center" style="font-size: 35px;">PETS </div>
  </div>
  <div class="col-8 m-auto pt-3 pb-2 text-center">
    <form method="get">
      <div class="input-group">
        <div class="input-group-text">
          <i class="bi bi-search"></i>
        </div>       
        <input type="text" id="search" name="search" class="form-control" placeholder="Pesquisar por pets..." />
      </div>
      
    </form>
  </div>

  <div class="col-10 m-auto pt-4 pb-2 text-left">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nome </th>
          <th scope="col">Raça</th>
          <th scope="col">Idade</th>
          <th scope="col">Tamanho</th>
          <th scope="col">Contribuinte</th>
          <th scope="col">Numero identificação</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for dbs in db %}
          <tr>
            <td>{{ dbs.nome }}</td>
            <td>{{ dbs.raca }}</td>
            <td>{{ dbs.idade }} ano(s)</td>
            <td>{{ dbs.tamanho }}</td>
            <td>{{ dbs.contribuinte }}</td>
            <td>{{ dbs.numero_identificacao }}</td>
            <td>
              <a href="/viewPets/{{ dbs.id }}/" class="btn btn-outline-secondary bi bi-eye"></a>
              <a href="/editPets/{{ dbs.id }}/" class="btn btn-outline-primary bi bi-pencil-square"></a>
              <a href="/deletePets/{{ dbs.id }}/" class="btn btn-outline-danger btnDel bi bi-trash"></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="pagination">
    {% if db.has_previous %}
      <a href="?page={{ db.previous_page_number }}"><</a>
    {% endif %}

    {{ db.number }}

    {% if db.has_next %}
      <a href="?page={{ db.next_page_number }}">></a>
    {% endif %}
  </div>

  
  <div class="col-8 m-auto pt-3 pb-2 text-center">
    <a href="/cadastrarPets/" class="btn btn-success">Novo cadastro</a>
  </div>


{% endblock %}
