{% extends 'main.html' %}

{% block content %}
  {% include 'menu.html' %}
  <div class="col-8 m-auto pt-2 pb-2 text-center">
    <h1>Visualização</h1>
  </div>

  <div class="col-8 m-auto pt-3 pb-2 text-center">
    <a href="/pets/" class="btn btn-info">Voltar</a>
  </div>

  <div class="col-8 m-auto pt-4 pb-2 text-auto">
    <strong>Nome:</strong>{{ db.nome }}<br />
    <strong>Raça:</strong>{{ db.raca }}<br />
    <strong>Idade:</strong>{{ db.idade }}<br />
    <strong>Tamanho:</strong>{{ db.tamanho }}<br />
    <strong>Contribuinte:</strong>{{ db.contrinuinte }}<br />
    <strong>Numero identificação:</strong>{{ db.numero_identificacao }}<br />
  </div>
{% endblock %}
